<link rel="import" href="three.html">

<link rel="import" href="three-viewport-renderer.html">
<link rel="import" href="three-viewport-camera.html">
<link rel="import" href="three-viewport-controls.html">
<link rel="import" href="three-viewport-helpers.html">

<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../paper-menu/paper-menu.html">
<link rel="import" href="../paper-menu-button/paper-menu-button.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">

<!--
Viewport element with basic camera controls and tool API.

@element three-viewport
@blurb Viewport element with basic camera controls and tool API
-->

<dom-module id="three-viewport">
  <link rel="import" type="css" href="three-viewport.css">
  <template>
    <three-viewport-camera id="cameras"
        view="{{view}}"
        camera="{{camera}}"
        width="{{width}}"
        height="{{height}}"
        on-three-viewport-camera-changed="renderLater">
    </three-viewport-camera>
    <three-viewport-controls id="controls"
        camera="{{camera}}"
        scene="{{scene}}"
        width="{{width}}"
        height="{{height}}"
        viewport="{{}}"
        on-three-viewport-controls-changed="serializeCameraStates">
    </three-viewport-controls>
    <three-viewport-helpers
        id="helpers"
        view="{{view}}"
        show-grid="{{showGrid}}"
        show-axis="{{showAxis}}"
        show-compass="{{showCompass}}"
        grid-size="{{gridSize}}"
        grid-width="{{gridWidth}}"
        grid-color1="{{gridColor1}}"
        grid-color2="{{gridColor2}}"
        multipass="{{multipass}}"
        on-helper-changed="renderLater">
    </three-viewport-helpers>
    <three-viewport-renderer id="renderer"
        width="{{width}}"
        height="{{height}}"
        camera="{{camera}}"
        scene="{{scene}}"
        helper-scene="{{helperScene}}"
        show-helpers="{{showHelpers}}"
        fog-density="{{fogDensity}}"
        multipass="{{multipass}}"
        show-occlusion="{{showOcclusion}}"
        show-shadows="{{showShadows}}"
        shadow-color="{{shadowColor}}"
        clear-color="{{clearColor}}"
        on-mouseenter="renderLater">
    </three-viewport-renderer>
    <paper-menu-button>
      <paper-icon-button icon="menu" class="dropdown-trigger"></paper-icon-button>
        <paper-menu id="viewMenu" class="dropdown-content" selected="0">
        <template is="dom-repeat" items="[[viewOptions]]">
          <paper-item on-tap="setView" id="[[item]]">[[item]]</paper-item>
        </template>
      </paper-menu>
    </paper-menu-button>
  </template>
  <script>

    (function() {

      var viewportEvents = [
        'Down',
        'Up',
        'TrackStart',
        'Track',
        'TrackEnd',
        'Tap',
        'MouseDown',
        'MouseMove',
        'MouseUp',
        'MouseOut',
        'KeyDown',
        'KeyUp',
        'MouseWheel', // DOMMouseScroll? // TODO
        'TouchStart',
        'TouchMove'
      ];
      var faceKeys = ['a', 'b', 'c'];


      // temporary variables
      var x, y, intersects, intersect;
      var pointerVector = new THREE.Vector2();
      var shortestDistance, closestVert, distance, tempVert;
      var raycaster = new THREE.Raycaster();

      Polymer({
        is: 'three-viewport',
        properties: {
          /**
           * Choices for different cameras that the user can select via menu
           * @type {[]}
           */
          viewOptions: {
            value: ['persp', 'top', 'bottom', 'front', 'back', 'left', 'right'],
            type: Array
          },
          /**
           * Scene containing geometry to be rendered in this viewport.
           * @attribute scene
           * @type object
           * @default new THREE.Scene()
           */
          scene: Object,
          /**
           * Scene helpers to be rendered in this viewport.
           * This includes compass, axis, and grid
           * @attribute helperScene
           * @type object
           * @default new THREE.Scene()
           */
          helperScene: Object,
          /**
           * Scene holding shadow volumes
           * @attribute shadowScene
           * @type object
           * @default new THREE.Scene()
           */
          shadowScene: Object,
          /**
           * Additional line geometry to be rendered as edges.
           * @attribute edgesScene
           * @type object
           * @default null
           */
          edgesScene: Object,
          /**
           * Camera to be rendered with.
           * Any instance of `THREE.Camera` can be set here.
           * @attribute camera
           * @type object
           */
          camera: {
            type: Object,
            notify: true
          },
          /**
           * Background color
           * @attribute clearColor
           * @type object
           * @default new THREE.Color(0xCCCCCC)
           */
          clearColor: {
            value: null,
            type: Object,
            observer: 'renderLater'
          },
          /**
           * Default camera views
           * Available settings: persp, top, bottom, front, back, left, right
           * Changing this attribute will change the 'camera' attribute and grid orientation.
           * @attribute view
           * @type string
           * @default null
           */
          view: {
            type: String,
            notify: true,
            observer: 'serializeCameraStates'
          },
          /**
           * Determines if scene helpers are rendered.
           * @attribute showHelpers
           * @type boolean
           * @default true
           */
          showHelpers: {
            value: true,
            type: Boolean,
            observer: 'renderLater'
          },
          /**
           * Tool to recieve pointer event callbacks from this element.
           * @attribute tool
           * @type element
           */
          tool: {
            value: null,
            type: Object
          },
          /**
           * Map of camera states.
           * @attribute cameraStates
           * @type object
           * @default null
           */
          cameraStates: {
            type: Object,
            notify: true,
          },
          /**
           * Whether to draw a regular grid to show as construction plane.
           * @type {Boolean}
           */
          showGrid: Boolean,
          /**
           * Whether to draw coordinate xyz axis at world origin.
           * @type {Boolean}
           */
          showAxis: {
            type: Boolean,
            reflectToAttribute: true,
            notify: true
          },
          /**
           * Whether to draw coordinate xyz axis at screen bottom left.
           * @type {Boolean}
           */
          showCompass: Boolean,
          /**
           * World space size of entire grid.
           * @type {Number}
           */
          gridSize: Number,
          /**
           * World space size of single grid cell.
           * @type {Number}
           */
          gridWidth: Number,
          /**
           * Grid axis color
           * @type {[type]}
           */
          gridColor1: Object,
          /**
           * Grid color
           * @type {[type]}
           */
          gridColor2: Object,
          /**
           * Light that is casting shadows. Currently only one light
           * is capable of casting shadows.
           * @type {THREE.Light}
           */
          shadowLight: Object,
          /**
           * The ShadowBuilder object which calculates shadow volumes
           * @type {THREE.ShadowBuilder}
           */
          shadowBuilder: Object,
          /**
           * Optional function to be run before render step
           * @type {[type]}
           */
          preRender: {
            value: null,
            type: Object
          },
          /**
           * Optional function to be run after render step
           * @type {[type]}
           */
          postRender: {
            value: null,
            type: Object
          },
          /**
           * Horizontal size of viewport in pixels.
           * Should be set externally
           * @type {Number}
           */
          width: {
            type: Number,
            notify: true
          },
          /**
           * Vertical size of viewport in pixels.
           * Should be set externally
           * @type {Number}
           */
          height: {
            type: Number,
            notify: true
          },
          /**
           * Determines if multipass rendering (THREE.EffectsComposer) is used
           * @type boolean
           * @default false
           */
          multipass: {
            value: true,
            notify: true,
            type: Boolean,
            observer: 'renderLater'
          },
          /**
           * TODO: Convert this to a list of passes rather than individual bools
           *
           * Determines if ambient occlusion is used (requires multipass to be true)
           * @type boolean
           * @default false
           */
          showOcclusion: {
            value: true,
            notify: true,
            type: Boolean,
            observer: 'renderLater'
          },
          /**
           * Determines if stencilbuffer shadows are used (requires multipass)
           * @type boolean
           * @default false
           */
          showShadows: {
            value: false,
            type: Boolean,
            observer: 'renderLater'
          },
          /**
           * Color of shadows (multiplied with ground)
           * @type {THREE.Color}
           */
          shadowColor: Object,
          /**
           * Alpha opacity of shadow, where 1.0 is completely opaque
           * @type {[type]}
           */
          shadowAlpha: Number,
          /**
           * Density of exponential fog. Generally on the order of 0.0001
           * @type {Number}
           */
          fogDensity: Number
        },

        /**
         * Track if a render is pending.
         * False after requestAnimationFrame is called, true after render executes.
         * @type {Boolean}
         */
        _renderPending: false,
        pointerHandlers: null,

        altKey: null,
        ctrlKey: null,
        ctrlKey: null,
        /**
         * @attribute depthTarget, normalTarget
         * @type WebGLRenderTarget for depth and normals
         */
        _depthTarget: null,
        _normalTarget: null,

        /**
         * Whether the browser supports WebGL
         * @type {Boolean}
         */
        _glEnabled: true,

        ready: function() {
          this._render = this.render.bind(this);
          this._addRaycastDataToEvent = this.addRaycastDataToEvent.bind(this);
          this.pointerHandlers = {};
          if (!this.scene) this.scene = new THREE.Scene();
          if (!this.clearColor) this.clearColor = new THREE.Color(0xC5CDCC);
          if (!this.gridColor1) this.gridColor1 = new THREE.Color(0xC5CDCC);
          if (!this.gridColor2) this.gridColor2 = new THREE.Color(0xC5CDCC);
        },

        attached: function() {
          this.isAttached = true;
          this.addListeners();

          this._glEnabled = this.$.renderer.isGlEnabled();

          this.renderLater();
        },

        detached: function() {
          this.isAttached = false;
          this.removeListeners();
        },

        setView: function (event) {
          this.view = event.target.getAttribute("id");
        },

        /**
         * Whether the renderer element is currently hosting the interactive canvas
         * @return {Boolean} True if hosting, false otherwise
         */
        isCurrent: function () {
          return this.$.renderer.isCurrent();
        },

        render: function() {
          this._renderPending = false;
          if (this.isAttached && this._glEnabled && this.scene) {
            if (this.width <= 0 && this.height <= 0) return;

            // TODO figure out the data binding magic for this
            if (this.edgesScene) {
              this.$.renderer.edgesScene = this.edgesScene;
            }
            this.$.renderer.helperScene = this.$.helpers.scene;
            this.$.renderer.shadowScene = this.shadowScene;

            if (this.preRender) this.preRender();

            this.$.renderer.doRender();

            if (this.showHelpers) {
              this.renderCompass();
            }

            if (this.postRender) this.postRender();

            this.fire('viewport-rendered', this);
          }
        },

        renderCompass: function() {
          this.$.helpers.compass.update(this.camera);
          this.$.renderer.renderCompass(this.$.helpers.compass.scene, this.$.helpers.compass.camera);
        },

        renderLater: function() {
          // abort if render is not available or already waiting to render
          if (!this._render || this._renderPending ) return;
          this._renderPending = true;
          requestAnimationFrame(this._render);
        },

        addListeners: function() {
          var scope = this;
          for (var i = viewportEvents.length; i--;) {
            (function(i) {
              var eventName = viewportEvents[i].toLowerCase();
              scope.pointerHandlers[eventName] = function(event) {

                if (event.path[0] !== this) return;

                // Use controls if alt is pressed or no tool is set.
                if (event.altKey !== undefined) this.altKey = event.altKey;

                var callbackName = 'on' + viewportEvents[i];

                // For each event, we check if corresponding event handler exist in attached tool.
                // If the tool is attached and has the event handler, we pass event data to it.
                // Otherwise, we send the data to camera controls (also when alt key is pressed).
                if (this.altKey || !scope.tool) {
                  if (typeof(scope.$.controls[callbackName]) == 'function') {
                    scope.$.controls[callbackName](event);
                  }
                } else if (scope.tool) {
                  if (typeof(scope.tool[callbackName]) == 'function') {
                    if (eventName.search("key") !== -1) {
                      // Skipping raycasting step for key events.
                      // Consider preventing only select keys such as backspace.
                      event.preventDefault();
                    } else {
                      scope._addRaycastDataToEvent(event);
                    }
                    scope.tool[callbackName](event);
                    scope.renderLater();
                  }
                }
              };
              //TODO addListeners is not used and PolymerGestures is not supported in Polymer 1.0
              // PolymerGestures.addEventListener(scope, eventName, scope.pointerHandlers[eventName]);
            })(i);
          }
        },
        removeListeners: function() {
          var scope = this;
          for (var i = viewportEvents.length; i--;) {
            (function(i) {
              var eventName = viewportEvents[i].toLowerCase();
              //TODO removeListeners is not used and PolymerGestures is not supported in Polymer 1.0
              // PolymerGestures.removeEventListener(scope, eventName, scope.pointerHandlers[eventName]);
              delete scope.pointerHandlers[eventName];
            })(i);
          }
        },
        /**
         * @method addRaycastDataToEvent
         * @param {Object} event Pointer event
         * Adds following data to event:
         *
         * event.pointerVector {Object} THREE.Vector2 pointer position in view space
         * event.pointOnPlane {Object} THREE.Vector3 point on grid (snaps to grid if shift key is pressed)
         * event.pointOnMesh {Object} THREE.Vector3 point on mesh (snaps to vertex if shift key is pressed)
         * event.object {Object} THREE.Object3D closest intersected object
         */
        addRaycastDataToEvent: function(event) {
          x = (event.clientX !== undefined) ? event.clientX : event.x;
          y = (event.clientY !== undefined) ? event.clientY : event.y;
          x = (x - this._rect.left) / this._rect.width * 2 - 1;
          y = - (y - this._rect.top) / this._rect.height * 2 + 1;
          pointerVector.set(x, y);
          event.pointerVector = pointerVector;
          raycaster.setFromCamera(pointerVector, this.camera);

          // Get point on plane
          intersects = raycaster.intersectObjects([this.$.helpers.plane], true);
          if (intersects.length) {
            if (event.shiftKey) {
              intersects[0].point.x = Math.round(intersects[0].point.x / this.gridSize) * this.gridSize;
              intersects[0].point.y = Math.round(intersects[0].point.y / this.gridSize) * this.gridSize;
              intersects[0].point.z = Math.round(intersects[0].point.z / this.gridSize) * this.gridSize;
              if (intersects[0].point.x == -0) intersects[0].point.x = 0;
              if (intersects[0].point.y == -0) intersects[0].point.y = 0;
              if (intersects[0].point.z == -0) intersects[0].point.z = 0;
            }
            event.pointOnPlane = intersects[0].point;
          }

          // Get point on mesh
          intersect = undefined;
          intersects = raycaster.intersectObjects([this.scene], true);
          intersects.some(function(i) {
            if (i.object.visible) {
              intersect = i; return;
            }
          });

          if (intersect) {
            event.pointOnMesh = intersect.point;
            event.object = intersect.object;
            // TODO: implement helpers
            shortestDistance = Infinity;
            closestVert = undefined;
            distance = undefined;
            // TODO: track no modifier keys
            if (event.shiftKey) {
              faceKeys.forEach(function(faceKey) {
                if (intersect.object.geometry instanceof THREE.Geometry) {
                  tempVert = intersect.object.geometry.vertices[intersect.face[faceKey]].clone()
                } else if (intersect.object.geometry instanceof THREE.BufferGeometry) {
                  // TODO: use array buffer for lookup?
                  tempVert = new THREE.Vector3(
                    intersect.object.geometry.attributes.position.array[intersect.face[faceKey] * 3],
                    intersect.object.geometry.attributes.position.array[intersect.face[faceKey] * 3 + 1],
                    intersect.object.geometry.attributes.position.array[intersect.face[faceKey] * 3 + 2]
                  );
                }
                tempVert.applyMatrix4(event.object.matrixWorld);
                distance = tempVert.distanceTo(event.pointOnMesh);
                if (distance < shortestDistance) {
                  shortestDistance = distance;
                  closestVert = tempVert;
                }
              });
              event.pointOnMesh = closestVert;
            }
          }

          event.point = event.pointOnMesh || event.pointOnPlane;

        },

        /**
         * Focus the controls' current camera on an object.
         * This function will focus on the union of object and all of
         * it's visible children. Children with visible=false will be ignored.
         * @pre This function expects as a precondition that the visibility of
         * object's child tree has just been updated. This function must run
         * entirely synchronous so that it will focus on the right objects,
         * without the possibility that another function will change
         * object visibility before execution is complete.
         * @param  {THREE.Object3D} object The scene object to focus on.
         */
        focusObject: function(object) {
          if (!object) return;
          object.updateMatrixWorld();
          this.$.controls.focusObject(object, true);
          this.renderLater();
        },

        handleMouseMove: function(event) {
          this.fire('three-viewport-hover', this);
        },

        /**
         * Save the relevant positioning information about current cameras.
         * This information is ready to be serialized for local storage.
         * TODO (Kyle) This function should be moved out of three-js since it is Flux specific
         */
        serializeCameraStates: function() {
          var serializedCamera = {};
          // iterate over the camera for each view (ex. persp, top, etc.)
          for (var view in this.$.cameras.cameras) {
            var camera = this.$.cameras.cameras[view];
            serializedCamera[view] = {
              px: camera.position.x,
              py: camera.position.y,
              pz: camera.position.z,
              rx: camera.rotation.x,
              ry: camera.rotation.y,
              rz: camera.rotation.z,
              tx: camera._target.x,
              ty: camera._target.y,
              tz: camera._target.z,
              near: camera.near,
              far: camera.far
            };
            // Handle extra OrthographicCamera properties
            if (camera instanceof THREE.OrthographicCamera) {
              var currentCamera = serializedCamera[view];
              currentCamera["top"] = camera.top;
              currentCamera["right"] = camera.right;
              currentCamera["bottom"] = camera.bottom;
              currentCamera["left"] = camera.left;
            }
          }
          // Update camera and trigger observers
          this.cameraStates = serializedCamera;
          this.renderLater();
        },
        /**
         * Observer for changes to cameraStates object.
         * When the object is changed, update the corresponding cameras.
         * @param  {Object} previousCameraStates Previous value, not used.
         * TODO (Kyle) This function should be moved out of three-js since it is Flux specific
         */
        deserializeCameraStates: function(previousCameraStates) {
          // iterate over the camera for each view (ex. persp, top, etc.)
          for (var view in this.cameraStates) {
            var camera = this.$.cameras.cameras[view];
            camera.position.x = this.cameraStates[view].px;
            camera.position.y = this.cameraStates[view].py;
            camera.position.z = this.cameraStates[view].pz;
            camera.rotation.x = this.cameraStates[view].rx;
            camera.rotation.y = this.cameraStates[view].ry;
            camera.rotation.z = this.cameraStates[view].rz;
            camera._target.x = this.cameraStates[view].tx;
            camera._target.y = this.cameraStates[view].ty;
            camera._target.z = this.cameraStates[view].tz;
            var near = this.cameraStates[view].near;
            if (near && near.constructor === Number) {
              camera.near = near;
            }
            var far = this.cameraStates[view].far;
            if (far && far.constructor === Number) {
              camera.far = far;
            }
            // Handle extra OrthographicCamera properties
            if (camera instanceof THREE.OrthographicCamera) {
              camera.top = this.cameraStates[view].top;
              camera.right = this.cameraStates[view].right;
              camera.bottom = this.cameraStates[view].bottom;
              camera.left = this.cameraStates[view].left;
            }
          }
        },

        /**
         * Set the light that is casting shadows.
         * @param {THREE.Light} light      light object, position is saved
         */
        setShadowLight: function(light) {
          this.$.renderer.setShadowLight(light);
        },
        /**
         * Add a shadow to the scene.
         * @param {THREE.Mesh} mesh        the mesh of the object casting a shadow
         */
        addShadow: function(mesh) {
          this.$.renderer.addShadow(mesh);
        },
        /**
         * Remove a shadow from the scene.
         * @param  {THREE.Mesh} mesh       the mesh of the shadow to remove
         */
        removeShadow: function(mesh) {
          this.$.renderer.removeShadow(mesh);
        }

      });

    })();
  </script>
</dom-module>