<link rel="import" href="three.html">

<!--
Element wrapper for the THREE.WebGLRenderer (http://threejs.org/docs/#Reference/Renderers/WebGLRenderer).

It manages GL rendering context. This component has been re-factored to take
advantage of the multiple renderers fix in three.js r72.
http://threejs.org/examples/#webgl_multiple_renderers

@element three-viewport-renderer
@blurb Element wrapper for the THREE.WebGLRenderer
-->

<dom-module id="three-viewport-renderer">
  <link rel="import" type="css" href="three-viewport-renderer.css">
  <template>
    <!-- The renderer.domElement provided by THREE.js is inserted in this div -->
    <div id="canvasContainer">
      <canvas id="cacheCanvas" width="{{width}}" height="{{height}}"></canvas>
    </div>
  </template>
  <script>
    (function() {
      var COMPASS_SIZE = 64;

      /**
       * Maximum number of WebGL contexts allowed.
       * Should be less than or equal to 16, the limit on recent systems.
       */
      var maxContexts = 16;

      /**
       * Class to represent a WebGL context which can render for multiple viewports
       */
      function RenderContext () {
        /**
         * Pointer to the shared THREE.js renderer
         */
        this.renderer = new THREE.WebGLRenderer({
          antialias: true,
          preserveDrawingBuffer: true,
          alpha: false
        });

        /**
         * Pointer to the three-viewport-renderer instance that is currently being rendered.
         */
        this.currentHost = null;

        // Allow interactive canvas to overlap other canvas
        this.renderer.domElement.style.position = "absolute";

      };
      // List of all render contexts shared globally
      var contexts = [];
      // Counter so new viewports know which context to create or reuse.
      var nextContext = 0;
      /**
       * Each viewport uses the next available render context defined by this function
       * @return {[type]} [description]
       */
      function getNextContext() {
        var i = nextContext;
        nextContext += 1;
        nextContext = nextContext % maxContexts;
        return contexts[i];
      };

      // Multipass Variables (private, singleton)
      /**
       * @attribute depthMaterial
       * @type THREE.Material writes depth pixels
       * @default THREE.ShaderMaterial object
       */
      var _depthMaterial = new THREE.ShaderMaterial( {
              uniforms: THREE.UniformsUtils.clone( THREE.ShaderLib[ "depthRGBA" ].uniforms ),
              fragmentShader: THREE.ShaderLib[ "depthRGBA" ].fragmentShader,
              vertexShader: THREE.ShaderLib[ "depthRGBA" ].vertexShader,
              blending: THREE.NoBlending
          } );
      /**
       * @attribute normalMaterial
       * @type THREE.Material writes normal to pixels
       * @default THREE.MeshNormalMaterial object
       */
      var _normalMaterial = new THREE.MeshNormalMaterial();

      /**
      * Renderer method that will be available on this element as proxy.
      * calling this method will trigger renderer migration.
      * @method clear
      * @method setClearColor
      * @method clearTarget
      * @method setSize
      * @method render
      */

      Polymer({
        is: 'three-viewport-renderer',

        properties: {
          /**
           * Whether the renderer should clear its output before rendering.
           * Attribute from THREE.WebGLRenderer
           * @type {Boolean}
           */
          autoClear: {
            value: false,
            type: Boolean,
            observer: 'update',
            reflectToAttribute: true
          },
          /**
           * Whether the renderer should clear the color buffer during auto clear.
           * Attribute from THREE.WebGLRenderer
           * @type {Boolean}
           */
          autoClearColor: {
            value: false,
            type: Boolean,
            observer: 'update'
          },
          /**
           * Whether the renderer should clear the depth buffer during auto clear.
           * Attribute from THREE.WebGLRenderer
           * @type {Boolean}
           */
          autoClearDepth: {
            value: false,
            type: Boolean,
            observer: 'update'
          },
          /**
           * Whether the renderer should clear the stencil buffer during auto clear.
           * Attribute from THREE.WebGLRenderer
           * @type {Boolean}
           */
          autoClearStencil: {
            value: false,
            type: Boolean,
            observer: 'update'
          },
          /**
           * Whether to pre-multiply gamma on all input textures and colors.
           * Attribute from THREE.WebGLRenderer
           * @type {Boolean}
           */
          gammaInput: {
            value: false,
            type: Boolean,
            observer: 'update'
          },
          /**
           * Whether to un-pre-multiply gamma on all output textures and colors.
           * Attribute from THREE.WebGLRenderer
           * @type {Boolean}
           */
          gammaOutput: {
            value: false,
            type: Boolean,
            observer: 'update'
          },
          /**
           * Width of the viewport.
           * @type {Number}
           */
          width: {
            type: Number,
            observer: 'setRendererSize'
          },
          /**
           * Height of the viewport.
           * @type {Number}
           */
          height: {
            type: Number,
            observer: 'setRendererSize'
          },
          /**
           * EffectComposer object, used in multipass rendering (see three-viewport)
           * @type THREE.EffectComposer
           */
          composer: {
            value: null,
            type: Object
          },
          /**
           * @attribute _renderPasses
           * @type dictionary for holding passes that need to be accessed or modified
           */
          _renderPasses: {
            value: null,
            type: Object
          },
          /**
           * Camera to be rendered with.
           * Any instance of `THREE.Camera` can be set here.
           * @attribute camera
           * @type object
           */
          camera: {
            type: Object,
            notify: true,
            observer: 'cameraChanged'
          },
          /**
           * Scene containing geometry to be rendered in this viewport.
           * @attribute scene
           * @type object
           * @default new THREE.Scene()
           */
          scene: {
            type: Object,
            observer: 'sceneChanged'
          },
          /**
           * Scene holding shadow volumes
           * @attribute shadowScene
           * @type object
           * @default new THREE.Scene()
           */
          shadowScene: Object,
          /**
           * Scene helpers to be rendered in this viewport.
           * This includes compass, axis, and grid
           * @attribute helperScene
           * @type object
           * @default new THREE.Scene()
           */
          helperScene: {
            type: Object,
            observer: 'helperSceneChanged'
          },
          /**
           * Scene containing edges geometry for hidden line rendering
           * @type {Object}
           */
          edgesScene: {
            type: Object,
            observer: 'edgesSceneChanged'
          },
          /**
           * Determines if scene helpers are rendered.
           * @attribute showHelpers
           * @type boolean
           * @default true
           */
          showHelpers: Boolean,
          /**
           * Determines if multipass rendering (THREE.EffectsComposer) is used
           * @type boolean
           * @default false
           */
          multipass: Boolean,
          /**
           * TODO: Convert this to a list of passes rather than individual bools
           *
           * Determines if ambient occlusion is used (requires multipass to be true)
           * @type boolean
           * @default false
           */
          showOcclusion: Boolean,
          /**
           * Determines if stencilbuffer shadows are used (requires multipass)
           * @type boolean
           * @default false
           */
          showShadows: Boolean,
          /**
           * Color of shadows (multiplied with ground)
           * @type {THREE.Color}
           */
          shadowColor: Object,
          /**
           * Alpha opacity of shadow, where 1.0 is completely opaque
           * @type {[type]}
           */
          shadowAlpha: Number,
          /**
           * Density of exponential fog. Generally on the order of 0.0001
           * @type {Number}
           */
          fogDensity: Number,

          /**
           * Whether gl is available and we can render.
           * This is assumed to be true, except in tests, because
           * the cost of Detector.js is too expensive to allow it at load time.
           * @type {Object}
           */
          glEnabled: {
            type: Boolean,
            value: true
          }
        },

        /**
         * Fog object for this viewport. Holds the fog density (this.fogDensity)
         * and color (this.clearColor). It is set and updated pre-render.
         * @type {THREE.FogExp2}
         */
        _fog: null,

        _context: null,

        attached: function() {

          // Canvas2D used to store framebuffer pixels after renderer.domElement migration.
          this.ctx = this.$.cacheCanvas.getContext('2d');

          // Create renderer for the first time.
          if (!this._context && this.glEnabled) {

            if (contexts.length >= maxContexts) {
              //TODO(Kyle) allow renderers to switch contexts
              this._context = getNextContext();
            } else {
              this._context = new RenderContext();
              contexts.push(this._context);
            }
            this.update();
          }

          // Create EffectComposer
          if (!this.composer && this.glEnabled) {
            this.autoClearColor = true;
            this.autoClearDepth = true;
            this.composer = new THREE.EffectComposer(this._context.renderer);
          }

          if (!this.scene) this.scene = new THREE.Scene();
          if (!this.edgesScene) this.edgesScene = new THREE.Scene();
          if (!this.helperScene) this.helperScene = new THREE.Scene();
          if (!this.clearColor) this.clearColor = new THREE.Color(0xC5CDCC);
          if (!this.gridColor1) this.gridColor1 = new THREE.Color(0xC5CDCC);
          if (!this.gridColor2) this.gridColor2 = new THREE.Color(0xC5CDCC);

          // variables for stencilbuffer shadows
          if (!this.shadowScene) this.shadowScene = new THREE.Scene();
          if (!this.shadowColor) this.shadowColor = new THREE.Color(0.08, 0.0, 0.2);
          if (!this.shadowAlpha) this.shadowAlpha = 0.35;
          if (!this.shadowBuilder) this.shadowBuilder = new THREE.ShadowBuilder(this.shadowLight);
          if (!this.fogDensity) this.fogDensity = 0.0;
          if (!this._fog) this._fog = new THREE.FogExp2( this.clearColor, this.fogDensity );

          this.addPasses();

          this.isAttached = true;
        },

        detached: function() {
          this.isAttached = false;
          if (this._context && this._context.currentHost === this) {
            this._context.currentHost = null;
          }
        },

        /**
         * Check whether the browser supports WebGL
         * @return {Boolean} True if WebGL was detected
         */
        isGlEnabled: function () {
          return this.glEnabled;
        },
        /**
         * When the pointer to the scene is changed the passes need to be updated
         */
        sceneChanged: function () {
          if (!this._renderPasses) return;
          this._renderPasses.renderPass.scene = this.scene;
        },
        helperSceneChanged: function () {
          if (!this._renderPasses) return;
          this._renderPasses.helperPass.scene = this.helperScene;
          this._renderPasses.helperPass.enabled = !!this.helperScene;
        },
        /**
         * When the pointer to the edgesScene changes, the render passes need to be updated.
         */
        edgesSceneChanged: function () {
          if (!this._renderPasses) return;
          this._renderPasses.edgesPass.scene = this.edgesScene;
          this._renderPasses.edgesPass.enabled = !!this.edgesScene;
        },
        /**
         * When the view is changed, the passes need to point to the new camera
         */
        cameraChanged: function () {
          if (!this._renderPasses) return;
          this._renderPasses.renderPass.camera = this.camera;
          this._renderPasses.helperPass.camera = this.camera;
          this._renderPasses.edgesPass.camera = this.camera;
          this._renderPasses.stencilPass.camera = this.camera;
        },

        /**
         * @method addRenderTargets
         * Creates depth, normal materials and
         * depth, normal render targets.
         */
        addRenderTargets: function() {
          // depth render target (uses THREE.js depth shader)
          this._depthTarget = new THREE.WebGLRenderTarget(
            window.innerWidth,
            window.innerHeight,
            { minFilter: THREE.NearestFilter,
              magFilter: THREE.NearestFilter,
              format: THREE.RGBAFormat } );

          // normal render target
          this._normalTarget = this._depthTarget.clone();
        },

        /**
         * @method addPasses
         * Adds enabled passes to the EffectComposer
         *
         * Always begins with a render pass
         * Always ends with an antialiasing (FXAA) pass
         *
         * May include the following:
         * Ambient occlusion
         */
        addPasses: function() {
          if (!this.glEnabled) return;
          this._renderPasses = {};
          this.addRenderTargets();

          // diffuse render pass
          var renderPass = new THREE.RenderPass(this.scene, this.camera);
          this.composer.addPass(renderPass);
          this._renderPasses.renderPass = renderPass;

          // helper render pass
          var helperPass = new THREE.RenderPass(this.helperScene, this.camera);
          helperPass.clear = false;
          this.composer.addPass(helperPass);
          this._renderPasses.helperPass = helperPass;
          helperPass.enabled = !!this.helperScene;

          var edgesPass = new THREE.RenderPass(this.edgesScene, this.camera);
          edgesPass.clear = false;
          this.composer.addPass(edgesPass);
          edgesPass.polygonOffset = true;
          edgesPass.enabled = !!this.edgesScene;
          this._renderPasses.edgesPass = edgesPass;

          // ambient occlusion pass
          var aoPass = new THREE.ShaderPass(THREE.SAOShader);
          // set uniform vars for ao pass
          aoPass.uniforms.tDepth.value = this._depthTarget;
          aoPass.uniforms.tNorm.value = this._normalTarget;
          aoPass.uniforms.projInv.value = new THREE.Matrix4();//TODO.getInverse(this.camera.projectionMatrix);
          aoPass.uniforms.onlyAO.value = false; // set to true to view only ambient occlusion
          aoPass.clear = true;
          aoPass.needsSwap = true;
          this._renderPasses.aoPass = aoPass;
          this.composer.addPass(aoPass);

          // stencil buffer shadow passes
          var copyPass = new THREE.ShaderPass( THREE.CopyShader );
          copyPass.needsSwap = false;
          this.composer.addPass( copyPass ); // copy AO to write buffer
          this._renderPasses.copyPass = copyPass;

          var stencilPass = new THREE.StencilPass( this.shadowScene, this.camera );
          this.composer.addPass( stencilPass ); // render shadow volumes to stencilbuffer
          this._renderPasses.stencilPass = stencilPass;

          var darkenPass = new THREE.ShaderPass( THREE.DarkenShader );
          darkenPass.uniforms.alpha.value = this.shadowAlpha;
          darkenPass.uniforms.color.value = new THREE.Vector3(this.shadowColor.r, this.shadowColor.g, this.shadowColor.b);
          darkenPass.needsSwap = false;
          this.composer.addPass( darkenPass ); // darken stencil areas
          this._renderPasses.darkenPass = darkenPass;

          var clearPass = new THREE.ClearStencilPass();
          clearPass.needsSwap = true;
          this.composer.addPass( clearPass ); // clear stencil
          this._renderPasses.clearPass = clearPass;

          // fast approximate antialiasing pass
          FXAAPass = new THREE.ShaderPass(THREE.FXAAShader);
          FXAAPass.renderToScreen = true;
          this._renderPasses.FXAAPass = FXAAPass;
          this.composer.addPass(FXAAPass);
        },

        /**
         * For multipass rendering, update which render passes are enabled.
         * Based on user preferences some passes may be turned on or off.
         * Also passes may be disabled if the corresponding scene is empty.
         */
        updatePasses: function () {
          if (this.showOcclusion) {
            // populate depth target
            this.scene.overrideMaterial = _depthMaterial;
            this._context.renderer.clearTarget( this._depthTarget, true, true );
            this._context.renderer.render( this.scene, this.camera, this._depthTarget );

            // populate normal target (set clearColor to (0,0,0) since
            // empty pixels do not have normals)
            this._context.renderer.setClearColor( 0x000000 );
            this.scene.overrideMaterial = _normalMaterial;
            this._context.renderer.clearTarget( this._normalTarget, true, true );
            this._context.renderer.render( this.scene, this.camera, this._normalTarget );
            this.scene.overrideMaterial = null;
            this._context.renderer.setClearColor( this.clearColor );

            // update ambient occlusion shader uniforms
            var projInv = new THREE.Matrix4();
            projInv.getInverse(this.camera.projectionMatrix);
            this._renderPasses.aoPass.uniforms.projInv.value = projInv;
            this._renderPasses.aoPass.uniforms.size.value.set(this.width, this.height);
            this._renderPasses.aoPass.uniforms.onlyDiffuse.value = false;
          } else {
            this._renderPasses.aoPass.uniforms.onlyDiffuse.value = true;
          }

          if (this.showShadows) {
            this.composer.renderTarget1.stencilBuffer = true;
            this.composer.renderTarget2.stencilBuffer = true;
            this._renderPasses.copyPass.enabled = true;
            this._renderPasses.stencilPass.enabled = true;
            this._renderPasses.darkenPass.enabled = true;
            this._renderPasses.clearPass.enabled = true;
          } else {
            this.composer.renderTarget1.stencilBuffer = false;
            this.composer.renderTarget2.stencilBuffer = false;
            this._renderPasses.copyPass.enabled = false;
            this._renderPasses.stencilPass.enabled = false;
            this._renderPasses.darkenPass.enabled = false;
            this._renderPasses.clearPass.enabled = false;
          }

          // set antialiasing 'resolution' uniform to current screen resolution
          this._renderPasses.FXAAPass.uniforms.resolution.value.set(1.0/this.width, 1.0/this.height);

          if (this.showHelpers) {
            this._renderPasses.helperPass.enabled = true;
          } else {
            this._renderPasses.helperPass.enabled = false;
          }
        },

        /**
         * Render the scene with its geometry and helpers.
         */
        doRender: function () {
          if (!this._renderPasses || !this.scene || !this.edgesScene || !this.helperScene || !this.camera) {
            return;
          }

          this.setHost();
          this._context.renderer.setClearColor(this.clearColor);
          this._context.renderer.clear();
          this._fog.color = this.clearColor;
          this._fog.density = this.fogDensity;
          this.scene.fog = this._fog;
          this.camera.updateProjectionMatrix();

          if (this.multipass) {
            this.updatePasses();
            // render scene
            this.composer.render();
          } else {
            this._context.renderer.render(this.scene, this.camera);

            if (this.edgesScene) {
              this._context.renderer.render(this.edgesScene, this.camera);
            }

            if (this.showHelpers && this.helperScene) {
              this._context.renderer.render(this.helperScene, this.camera);
            }
          }
        },

        /**
         * Render the compass which is a screen space axis orientation widget.
         * @param  {[type]} scene  A scene containing the compass geometry.
         * @param  {[type]} camera A camera pointed at the compass
         */
        renderCompass: function(scene, camera) {
          this._context.renderer.setViewport(0, 0, COMPASS_SIZE, COMPASS_SIZE);
          this._context.renderer.render(scene, camera);
          this._context.renderer.setViewport(0, 0, this.width, this.height);
        },

        /**
         * Set the light that is casting shadows.
         * @param {THREE.Light} light      light object, position is saved
         */
        setShadowLight: function(light) {
          this.shadowLight = light.position;
          this.shadowBuilder.updateLight(light.position);
        },
        /**
         * Add a shadow to the scene.
         * @param {THREE.Mesh} mesh        the mesh of the object casting a shadow
         */
        addShadow: function(mesh) {
          var shadow = this.shadowBuilder.getShadowVolume(mesh);
          this.shadowScene.add(shadow);
        },
        /**
         * Remove a shadow from the scene.
         * @param  {THREE.Mesh} mesh       the mesh of the shadow to remove
         */
        removeShadow: function(mesh) {
          var shadow = this.shadowBuilder.getShadowVolume(mesh);
          this.shadowScene.remove(shadow);
        },
        cacheImageToCanvas: function () {
          this.ctx.drawImage(this._context.renderer.domElement, 0, 0,
                  this.$.cacheCanvas.width, this.$.cacheCanvas.height);
        },
        /**
         * Migrate renderer.domElement to this host if necessary
         * and copy framebuffer into Canvas2D element of the previous host.
         */
        setHost: function() {
          if (!this.glEnabled || !this.isAttached || this === this._context.currentHost) return;
          if (this._context.currentHost) {
            // Copy the image from domElement (THREE's interactive canvas)
            // to the 2D context for this element's canvas
            // This image will remain up until the user interacts with the old viewport again
            this._context.currentHost.cacheImageToCanvas();
          }
          this._context.currentHost = this;
          this.setRendererSize();
          // Move the THREE.WebGLRenderer's canvas under the new host
          this.$.canvasContainer.appendChild(this._context.renderer.domElement);
          this.update();
        },

        // Set renderer parameters
        update: function() {
          if (!this.glEnabled || !this._context || !this._context.renderer) return;
          this._context.renderer.autoClear = this.autoClear;
          this._context.renderer.autoClearColor = this.autoClearColor;
          this._context.renderer.autoClearDepth = this.autoClearDepth;
          this._context.renderer.autoClearStencil = this.autoClearStencil;
          this._context.renderer.sortObjects = this.sortObjects;
          this._context.renderer.gammaInput = this.gammaInput;
          this._context.renderer.gammaOutput = this.gammaOutput;
        },

        setRendererSize: function() {
          if (!this.glEnabled || !this._context || !this._context.renderer || !this.composer ||
            !this.width || this.width <= 0 || !this.height || this.height <= 0) return;

          this._context.renderer.setSize(this.width, this.height);
          if (this.composer) {
            this.composer.setSize(this.width, this.height);
          }
          // TODO(kyle) This will result in rendering multiple times a frame
          // this should be refactored
          this.doRender();
        },
      });
    })();
  </script>
</dom-module>
