<link rel="import" href="../three-js/three.html">

<!--
Viewport camera controller

@element three-viewport-controls
@blurb Viewport camera controller
-->

<dom-module id="three-viewport-controls">
  <script>
      Polymer({
        is: 'three-viewport-controls',
        properties: {
          /**
           * The camera to control.
           * @type {THREE.Camera}
           */
          camera: {
            type: Object,
            observer: 'cameraChanged'
          }
        },

        cameraChanged: function() {

          if (this.controls) this.controls.enabled = false;

          // TODO: preserve center in EditorControls
          this.camera._target = this.camera._target || new THREE.Vector3();
          this.controls = new THREE.EditorControls(this.camera, this.parentNode, this.camera._target);
          this.controls.addEventListener('change', function() {
            this.fire('three-viewport-controls-changed');
          }.bind(this));

        },

        /**
         * Focus the current camera on the given object.
         * @param  {THREE.Object3D} object The object to focus on.
         * @param  {Boolean} frame  Whether to frame (fit to screen) around the object.
         */
        focusObject: function(object, frame) {
          this.controls.focus(object, frame);
        }

      });
  </script>
</dom-module>