<link rel="import" href="../polymer/polymer.html">

<script src="js/three.min.js"></script>
<script src="js/flux-three-plugins.global.js"></script>

<script src="js/pnltri.min.js"></script>
<!-- replace built-in triangulation with PnlTri.js -->
<script>
THREE.Shape.Utils.triangulateShape = (function() {
	var pnlTriangulator = new PNLTRI.Triangulator();
	return function(contour, holes) {
		// console.log("new Triangulation: PnlTri.js " + PNLTRI.REVISION );
		return pnlTriangulator.triangulate_polygon([contour].concat(holes));
	};
})();
</script>