<link rel="import" href="three.html">

<!--
Manages viewport cameras.

@element three-viewport-camera
@blurb Manages viewport cameras.
-->

<dom-module id="three-viewport-camera">
  <script>

      Polymer({
        is: 'three-viewport-camera',
        properties: {
          /**
           * Camera to be rendered with.
           * Any instance of `THREE.Camera` can be set here.
           *
           * @attribute camera
           * @type object
           */
          camera: {
            type: Object,
            notify: true,
            observer: 'updateCamera'
          },
          /**
           * Default camera views
           * Available settings: persp, top, bottom, front, back, left, right
           * Changing this attribute will change the 'camera' attribute.
           *
           * @attribute view
           * @type string
           * @default null
           */
          view: {
            value: null,
            type: String,
            observer: 'viewChanged'
          },
          /**
           * Width of viewport. Used for camera aspect ratio calculation.
           * @type {Number}
           */
          width: {
            type: Number,
            observer: 'updateCamera'
          },
          /**
           * Width of viewport. Used for camera aspect ratio calculation.
           * @type {Number}
           */
          height: {
            type: Number,
            observer: 'updateCamera'
          }
        },

        ready: function() {
          // Initialize default cameras and frustums.
          this.cameras = {
            'persp': new THREE.PerspectiveCamera(30, 1, 0.1, 100000),
            'top': new THREE.OrthographicCamera(100, -100, 100, -100, -1000, 1000),
            'right': new THREE.OrthographicCamera(100, -100, 100, -100, -1000, 1000),
            'bottom': new THREE.OrthographicCamera(100, -100, 100, -100, -1000, 1000),
            'left': new THREE.OrthographicCamera(100, -100, 100, -100, -1000, 1000),
            'front': new THREE.OrthographicCamera(100, -100, 100, -100, -1000, 1000),
            'back': new THREE.OrthographicCamera(100, -100, 100, -100, -1000, 1000)
          };
          for (var cam in this.cameras) {
            this.cameras[cam]._target = new THREE.Vector3();
          }
          // The camera starts far away from the origin, with the assumption
          // that the viewport will focus the camera on the rendered
          // geometry as soon as it becomes available.
          this.cameras['persp'].position.set(2500000, 1000000, 1300000);
          this.cameras['persp'].lookAt(this.cameras['persp']._target);
          this.cameras['front'].position.set(0, 0, 100);
          this.cameras['back'].rotation.set(0, Math.PI, 0);
          this.cameras['back'].position.set(0, 0, -100);
          this.cameras['left'].rotation.set(0, Math.PI / 2, 0);
          this.cameras['left'].position.set(100, 0, 0);
          this.cameras['right'].rotation.set(0, -Math.PI / 2, 0);
          this.cameras['right'].position.set(-100, 0, 0);
          this.cameras['top'].rotation.set(-Math.PI / 2, 0, -Math.PI / 2);
          this.cameras['top'].position.set(0, 100, 0);
          this.cameras['bottom'].rotation.set(Math.PI / 2, 0, -Math.PI / 2);
          this.cameras['bottom'].position.set(0, -100, 0);
          if (!this.camera) {
            this.camera = this.cameras['persp'];
          }
        },

        viewChanged: function() {
          switch (this.view) {
            case 'top':
            case 'bottom':
            case 'left':
            case 'right':
            case 'front':
            case 'back':
            case 'persp':
              this.camera = this.cameras[this.view];
              break;
          }
        },

        updateCamera: function() {
          if (!this.camera) return;

          if (this.camera instanceof THREE.PerspectiveCamera) {
            this.camera.aspect = this.width / this.height;
          }
          if (this.camera instanceof THREE.OrthographicCamera) {
            var a = this.width / this.height;
            var h = this.camera.top - this.camera.bottom;
            this.camera.top = h / 2;
            this.camera.bottom = - h / 2;
            this.camera.right = h / 2 * a;
            this.camera.left = - h / 2 * a;
          }
          this.camera.updateProjectionMatrix();
          /**
           * Fired when camera is changed
           *
           * @event three-viewport-camera-changed
           * @param {Object} detail
           * @param {Object} detail.camera camera
           */
          this.fire('three-viewport-camera-changed', this.camera);
        }

      });

  </script>
</dom-module>