:host {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: inline-block;
  height: 100%;
  width: 100%;
}

/* Applies to the canvases used to cache images of the viewport */
#cacheCanvas {
    /* Allow overlap with renderer canvas */
    position: absolute;
}