:host {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  position: relative;
  cursor: crosshair;
  display: inline-block;
  height: 100%;
  width: 100%;
}

paper-menu-button {
  position: absolute;
  top: 0px;
  left: 0px;
  /* Use z-index to place menu over the canvases defined in three-viewport-renderer */
  z-index: 2;
}

paper-item {
  --paper-item-min-height: 20px;
}